<div class="mb-5">
  <label
    [htmlFor]="label"
    class="block mb-2 text-sm font-medium"
    [ngClass]="error ? 'text-red-700' : 'text-gray-900'"
    >{{ label }}</label
  >
  <input
    [type]="type"
    [id]="label"
    [placeholder]="placeholder"
    [max]="max"
    [name]="name"
    [value]="value"
    (input)="changeData($event)"
    class="text-sm rounded-lg block w-full p-2.5"
    [ngClass]="
      error
        ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500'
        : 'bg-gray-50 border border-gray-300 text-gray-900'
    "
  />
  <ng-content></ng-content>
</div>
