<div
  class="fixed top-0 z-40 backdrop-blur flex-none transition-colors duration-500 flex justify-between px-10 items-center w-full h-16 md:border-b md:border-slate-900/10 shadow-sm"
>
  <div class="flex">
    <div class="text-xl leading-6 flex items-center">
      <app-logo size="w-10 h-10"></app-logo>
      <h1 class="font-bold text-xl ml-2 text-center text-primary uppercase">
        Employee
      </h1>
    </div>
    <div class="absolute md:static md:ml-16 w-full left-0 top-12">
      <ul
        class="flex flex-col space-y-4 md:space-y-0 md:items-center mt-4 bg-gradient-to-br from-slate-100 border-b border-slate-900/10 shadow-sm to-blue-100 md:flex-row md:space-x-8 md:mt-1 md:text-sm md:font-medium md:border-0 md:bg-transparent md:from-transparent md:to-transparent md:border-none md:shadow-none ease-in-out duration-200"
        [ngClass]="openNav ? 'h-36 p-4 ' : 'h-1 overflow-hidden md:p-4'"
      >
        <app-nav-link link="/home" title="Home"></app-nav-link>
        <app-nav-link link="/employee" title="Employee Data"></app-nav-link>
        <app-nav-link title="Logout" class="block md:hidden"></app-nav-link>
      </ul>
    </div>
  </div>
  <div
    (click)="logout()"
    class="hidden md:block bg-blue-200 cursor-pointer rounded-lg p-1 hover:bg-blue-300"
  >
    <svg
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      class="text-blue-600 w-7 h-7"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"
      ></path>
    </svg>
  </div>
  <div
    class="block md:hidden bg-blue-200 cursor-pointer rounded-lg p-1"
    (click)="clickToggle()"
  >
    <svg
      *ngIf="!openNav"
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      class="text-blue-700 w-8 h-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"
      ></path>
    </svg>

    <svg
      *ngIf="openNav"
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      class="text-blue-700 w-8 h-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"
      ></path>
    </svg>
  </div>
</div>
