<div
  class="fixed flex items-center justify-center top-0 right-0 left-0 bg-gray-700 z-50 h-screen w-full"
  [ngClass]="
    (dialog.showsDialog$ | async)
      ? 'bg-opacity-50 scale-1'
      : 'bg-opacity-0 scale-0 '
  "
>
  <div
    class="relative p-4 w-full max-w-sm h-auto ease-in-out duration-300"
    [ngClass]="
      (dialog.showsDialog$ | async) ? 'opacity-1 scale-1' : 'opacity-0 scale-0'
    "
  >
    <div class="relative bg-white rounded-lg shadow">
      <div class="p-8 text-center">
        <svg
          aria-hidden="true"
          class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>

        <h1 class="mt-5 text-2xl font-bold">
          {{ dialog.dialogTitleMessage$ | async }}
        </h1>
        <h3 class="mb-8 mt-2 text-sm font-normal text-gray-500">
          {{ dialog.dialogSubtitleMessage$ | async }}
        </h3>
        <div class="flex space-x-4">
          <button
            class="btn-danger focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
            (click)="submit()"
          >
            Confirm
          </button>
          <button
            class="btn-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
            (click)="close()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
