<div class="flex justify-between items-center">
  <app-header-page
    title="Data Employee"
    subtitle="Employee Management System"
  ></app-header-page>
  <div class="flex justify-end items-center w-1/2">
    <div class="hidden md:block w-full mr-5">
      <input-no-label
        placeholder="Search"
        (change)="search($event)"
      ></input-no-label>
    </div>
    <div
      (click)="sortData(order == 'asc' ? 'desc' : 'asc')"
      class="bg-gray-100 p-1 rounded-md mr-5 border border-gray-300 cursor-pointer hover:bg-gray-200"
    >
      <svg
        *ngIf="order == 'asc'"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        class="w-7 h-7 text-gray-700"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0l-3.75-3.75M17.25 21L21 17.25"
        ></path>
      </svg>
      <svg
        *ngIf="order == 'desc'"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        class="w-7 h-7 text-gray-700"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12"
        ></path>
      </svg>
    </div>
    <button-component routerLink="create">Create</button-component>
  </div>
</div>
<div class="block md:hidden w-full mt-3">
  <input-no-label
    placeholder="Search"
    (change)="search($event)"
  ></input-no-label>
</div>
<div class="relative overflow-x-auto shadow-sm rounded-lg mt-8">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">Username</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Birth Date</th>
        <th scope="col" class="px-6 py-3">Basic Salary</th>
        <th scope="col" class="px-6 py-3 text-center">Status</th>
        <th scope="col" class="px-6 py-3">Group</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="!loading">
      <tr
        (click)="view(item)"
        class="bg-white border-b hover:bg-gray-50 cursor-pointer"
        *ngFor="let item of dataSorting"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ item.username }}
        </th>
        <td class="px-6 py-4">{{ item.email }}</td>
        <td class="px-6 py-4">{{ item.brithDate }}</td>
        <td class="px-6 py-4">{{ helper.rupiah(item.basicSalary) }}</td>
        <td class="px-6 py-4 text-center">
          <span
            class="font-semibold"
            [ngClass]="
              item.status == 'active' ? 'text-green-700' : 'text-red-700'
            "
          >
            {{ item.status }}
          </span>
        </td>
        <td class="px-6 py-4">{{ item.group }}</td>
        <td
          class="flex px-6 py-4 text-right space-x-2 cursor-auto"
          (click)="clickStopper($event)"
        >
          <div
            (click)="delete()"
            class="bg-gray-200 p-1 rounded-xl hover:bg-gray-300"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="w-5 h-5 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
              ></path>
            </svg>
          </div>
          <div
            (click)="update()"
            class="bg-gray-200 p-1 rounded-xl hover:bg-gray-300"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="w-5 h-5 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
              ></path>
            </svg>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="countData == 0" class="flex justify-center bg-white w-full p-4">
    <app-loading *ngIf="loading"></app-loading>
    <img *ngIf="!loading" src="assets/images/no-data.svg" width="300" alt="" />
  </div>
</div>
<div class="mt-5 mb-10">
  <app-pagination
    [length]="countData"
    [size]="size"
    [page]="page + 1"
    (select)="pageChange($event)"
  ></app-pagination>
</div>
<view-employee id="modal-view" [data]="dataView"></view-employee>
